<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Сканировать папки</title>
</head>
<body>
<p><a href="/">Назад</a></p>
<form method="POST" action="#" th:action="@{/uploadFile}" enctype="multipart/form-data">
    <table>
        <tr>
            <td>
                <th:text path="file"></th:text>
            </td>
        </tr>
        <tr>
            <td><input type="file" name="file"/></td>
        </tr>
        <tr>
            <td>Предварительно очистить список <input type="checkbox" name="isClearBooks"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Загрузить"/></td>
        </tr>
    </table>
    <div>
        <p>
            Книг в файле: <b th:text="${booksFromFile}"/>
        </p>
        <p>
            Добавлено книг из файла: <b th:text="${addBooksFromFile}"/>
        </p>
        <p>
            Удалено книг: <b th:text="${deleteBooksFromFile}"/>
        </p>
    </div>
</form>
</body>
</html>